<launch>
    <param name="robot_description" command="cat '$(find auto_test)/urdf/auto_test.urdf'" />
    
    <arg name="x" default="-2"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.1"/>
    
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model mybot -x $(arg x) -y $(arg y) -z $(arg z)" />
          
    <rosparam file="$(find auto_test)/config/my_robot.yaml" command="load" />
    
    <node name="my_robot_manager" pkg="controller_manager" type="spawner"
          respawn="false" output="screen" args="my_robot" />
          
          
</launch>
